.header {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #a0b0b9;
  justify-content: space-between;
  margin-top: 20px;
  .title {
    display: flex;
    div {
      width: 33%;
    }
  }
  .info {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;
    div {
      width: 33%;
    }
  }
}

@media (max-width: 420px) {
  .header {
    font-size: 9px;
  }

  .info {
    font-size: 13px;
  }
}
