.class {
  margin: 5px;
}

.button {
  width: 502px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

.active {
  background-color: #2196f3;
  color: #fff;
}

@media (max-width: 420px) {
  .button {
    width: 300px;
  }
}
