.class {
  margin: 5px;
}

.button {
  width: 168px;
  height: 50px;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

.active {
  background-color: #2196f3;
  color: #fff;
}

@media (max-width: 420px) {
  .button {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-size: 8px;
    }
  }
}
